sudo: false
dist: trusty

language: python

python:
  - "3.5"
  - "3.6"

services:
  - postgresql

addons:
  postgresql: "9.6"

notifications:
  email: false

matrix:
  fast_finish: true

install:
  - sudo apt-get -qq update

    # Install Poppler manually for Ubuntu 14.04 on Travis
  - sudo apt-get install build-essential checkinstall
  - wget poppler.freedesktop.org/poppler-0.53.0.tar.xz
  - tar -xf ./poppler-0.53.0.tar.xz
  - cd poppler-0.53.0
  - ./configure
  - make
  - sudo checkinstall -y
  - cd ..
  - export LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH"
  - echo "Using LD_LIBRARY_PATH=${LD_LIBRARY_PATH}"

  - pip install -r python-package-requirement.txt
  - python -m spacy download en

before_script:
  - psql -c 'create database parser_test;' -U postgres
  - psql -c 'create database e2e_test;' -U postgres
  - cd tests/e2e/
  - ./download_data.sh
  - cd ../..
  - source ./set_env.sh

script:
  - travis_wait 40 pytest tests -v -rsXx
