cache:
  directories:
  - $HOME/.cache/pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

matrix:
  include:
  - os: linux
    python: 3.7
    language: python
    dist: bionic
  - os: osx
    osx_image: xcode11.3
    language: shell
  fast_finish: true

services:
- postgresql

addons:
  postgresql: '10'

notifications:
  email: false

before_install:
# https://github.com/travis-ci/travis-ci/issues/2552#issuecomment-200640335
- shopt -s expand_aliases
# Make an alias otherwise pip points to Python 2.7 on macOS
- alias pip=pip3
- pip install --upgrade pip
- |
  if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    OS=Linux-x86_64
    sudo apt-get install -q -y libmecab-dev swig mecab
    # Binary dictionary not included in 2.2.0-1 (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=788822)
    wget http://launchpadlibrarian.net/326401889/unidic-mecab_2.1.2~dfsg-7_all.deb
    sudo dpkg -i unidic-mecab_2.1.2~dfsg-7_all.deb
    # Set the max number of connections 100
    # No need to adjust it on Mac as it's 100 by default
    sudo sed -i 's/max_connections = 255/max_connections = 100/g' /etc/postgresql/10/main/postgresql.conf
    sudo service postgresql restart
    # Install ImageMagick library for Wand
    sudo apt-get install libmagickwand-dev ghostscript
    sudo rm -rf /etc/ImageMagick-6/policy.xml
    # Install poppler-utils
    sudo apt install -q -y poppler-utils
    # Install travis-wait-enhanced
    wget -qO- "https://github.com/crazy-max/travis-wait-enhanced/releases/download/v1.0.0/travis-wait-enhanced_1.0.0_linux_x86_64.tar.gz" | tar -zxvf - travis-wait-enhanced
    sudo mv travis-wait-enhanced /usr/local/bin/
  else
    OS=MacOSX-x86_64
    pip install virtualenv
    virtualenv venv
    source venv/bin/activate
    brew update
    brew install swig mecab mecab-unidic
    sed -i -e "s/ipadic/unidic/" /usr/local/etc/mecabrc
    # Install ImageMagick library for Wand
    brew install freetype imagemagick ghostscript
    # Install PostgreSQL 10 (12 not compatible with Fonduer)
    # See https://github.com/HazyResearch/fonduer/issues/371
    brew uninstall --ignore-dependencies postgresql
    brew install postgresql@10
    export PATH="/usr/local/opt/postgresql@10/bin:$PATH"
    # Start postgresql for osx
    rm -rf /usr/local/var/postgresql@10
    initdb /usr/local/var/postgresql@10
    pg_ctl -D /usr/local/var/postgresql@10 start; sleep 5
    createuser -s postgres
    # poppler-utils is already installed
    # https://github.com/brianmario/mysql2/issues/795
    export LIBRARY_PATH=$LIBRARY_PATH:/usr/local/opt/openssl@1.1/lib/
    # Install travis-wait-enhanced
    wget -qO- "https://github.com/crazy-max/travis-wait-enhanced/releases/download/v1.0.0/travis-wait-enhanced_1.0.0_darwin_x86_64.tar.gz" | tar -zxvf - travis-wait-enhanced
    mv travis-wait-enhanced /usr/local/bin/
  fi
- pdfinfo -v
- psql --version
- python --version
- pip --version
- mecab -D || true

# Install PyTorch for Linux with no CUDA support
- |
  if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    pip install https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
  fi

install:
# Install fonduer dev deps and check code style
- make dev_extra
- make check
- make docs
- pip install -q coveralls
- python -m spacy download en

before_script:
- createdb e2e_test -U postgres
- createdb inc_test -U postgres
- createdb meta_test -U postgres
- createdb pg_test -U postgres
- cd tests && ./download_data.sh && cd ..

script:
- travis-wait-enhanced --interval=1m --timeout=50m -- coverage run -m pytest tests

after_success:
- coverage combine
- coveralls

deploy:
  provider: pypi
  user: lukehsiao
  password:
    secure: ddkakQE29dAbKo362iFHA1kAzPe6GuMV+zP5GkwYsglYgIOY+iYnPWlnZPaxLOkJyGTASOqOVdtRMg9K67kfTBT7h0yBOozZy6rs595cLX7gNLsjKHbciEK1pyebh82wMmiifCqNfwyf/epOqVAPxV8rzzVRw/x9lVMzNZasIpLQ1yVQyGjnAvm/8BIMhTFfN7DbASWpUUFBZDwjqLtHP8HsJLYucd4y7Hle9FqJ+HA7QGS71D+FVbYu16QNG2iwqnKLjYA8xJbNmzDCYUWZW6De89nbddoGmCfqCFXQK+aALpHjpy/vt811313c6sZy97glJmqRsTo7Z/xxmytYpG6+2Tvid1O0BS3AZOOVYEd/JvW3SURWuxdD1eI6LlZL6oAjNraq7h8XbPhyFfAsBXyahfsMA2tLoHqsLP0jnpVqcMzjn8auWGg0qWhNMxMCkMc0SSVY6mqvpQbnj7ntA5JaweCG56BddYqeOiSGtHhK56sGsQw7+CN/2l4GRlgT0FLkRVJBimD2yd2elyJK9r2gePeaD9Ea/Y2xhEIdilTMDSttZMMkwGsZqpY6//KiGGzFfyV66lWJkY6I1btCwB6DaW86lbRFvuqyzDwKbqZUyLdPHiBmoOjtmAtZyaUKQbnffqiGw1w0nu9viR22iF7zQctQ84R/wTq03tiZfco=
  distributions: sdist bdist_wheel
  skip_cleanup: true
  on:
    tags: true
    branch: master
    condition: $TRAVIS_OS_NAME = "linux"
