language: generic
dist: trusty
cache: pip

matrix:
  include:
  - os: linux
    env:
      - PYTHON=3.6
  - os: osx
    env:
      - PYTHON=3.6
  fast_finish: true

services:
- postgresql

addons:
  postgresql: '9.6'

notifications:
  email: false

before_install:
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then OS=Linux-x86_64; else OS=MacOSX-x86_64; fi
- if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update;fi
- wget -O miniconda.sh https://repo.continuum.io/miniconda/Miniconda3-latest-$OS.sh
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- conda config --set always_yes yes --set changeps1 no
- conda config --add channels conda-forge
- conda update -q conda
- conda install -q conda-build
- if [ -n "$PYTHON" ]; then conda create -q -n test-environment python=${PYTHON}; fi
- source activate test-environment
- conda install pip
# Start postgresql for osx
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then rm -rf /usr/local/var/postgres; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then initdb /usr/local/var/postgres; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pg_ctl -D /usr/local/var/postgres start; sleep 5; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then createuser -s postgres; fi

- psql --version
- python --version
- pip --version


install:
# Install fonduer dev deps and check code style
- make dev 
- make check
- pip install coveralls
- |
  if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    wget poppler.freedesktop.org/poppler-0.53.0.tar.xz
    tar -xf ./poppler-0.53.0.tar.xz
    cd poppler-0.53.0
    "./configure"
    make
    sudo make install
    cd ..
    rm -rf poppler-0.53.0
    export LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH"
    echo "Using LD_LIBRARY_PATH=${LD_LIBRARY_PATH}"
  else
    brew install poppler
  fi
- python -m spacy download en

before_script:
- psql -c 'create database parser_test;' -U postgres
- psql -c 'create database e2e_test;' -U postgres
- cd tests/e2e/
- "./download_data.sh"
- cd ../..

script:
- travis_wait coverage run --source=fonduer -m pytest tests -v -rsXx

after_success:
- coveralls

deploy:
  provider: pypi
  user: lukehsiao
  password:
    secure: ddkakQE29dAbKo362iFHA1kAzPe6GuMV+zP5GkwYsglYgIOY+iYnPWlnZPaxLOkJyGTASOqOVdtRMg9K67kfTBT7h0yBOozZy6rs595cLX7gNLsjKHbciEK1pyebh82wMmiifCqNfwyf/epOqVAPxV8rzzVRw/x9lVMzNZasIpLQ1yVQyGjnAvm/8BIMhTFfN7DbASWpUUFBZDwjqLtHP8HsJLYucd4y7Hle9FqJ+HA7QGS71D+FVbYu16QNG2iwqnKLjYA8xJbNmzDCYUWZW6De89nbddoGmCfqCFXQK+aALpHjpy/vt811313c6sZy97glJmqRsTo7Z/xxmytYpG6+2Tvid1O0BS3AZOOVYEd/JvW3SURWuxdD1eI6LlZL6oAjNraq7h8XbPhyFfAsBXyahfsMA2tLoHqsLP0jnpVqcMzjn8auWGg0qWhNMxMCkMc0SSVY6mqvpQbnj7ntA5JaweCG56BddYqeOiSGtHhK56sGsQw7+CN/2l4GRlgT0FLkRVJBimD2yd2elyJK9r2gePeaD9Ea/Y2xhEIdilTMDSttZMMkwGsZqpY6//KiGGzFfyV66lWJkY6I1btCwB6DaW86lbRFvuqyzDwKbqZUyLdPHiBmoOjtmAtZyaUKQbnffqiGw1w0nu9viR22iF7zQctQ84R/wTq03tiZfco=
  distributions: sdist bdist_wheel
  skip_cleanup: true
  on:
    tags: true
    branch: master
    python: '3.6'
    condition: $TRAVIS_OS_NAME = "linux"
