black>=18.9b0
flake8>=3.8.0
flake8-docstrings
mypy==0.782
nltk
isort>=5.0.0
pre-commit
pytest
pytest-dependency
pytest-mock
sphinx<4.0.0
sphinx_rtd_theme
sphinx_autodoc_typehints
sphinxcontrib-mermaid
